{
  "arrowParens": "always",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
